{% extends "main.html" %}

{% block content %}

<h4>Edit {{ book.title }}</h4>
<form method="post" action="#">
	<div>
		<input type="text" name="newTitle" placeholder="{{ book.title }}">
	</div>
	<div>
		<textarea name="newSummary">{{ book.summary }}</textarea>
	</div>
	<div>
		<input type="text" name="newAuthor" placeholder="{{ book.author.name }}">
	</div>
	<input type="submit" value="edit">
</form>
<div class="cancel">
	<button><a href="{{ url_for('showGenreList', genre_id = book.genre.id) }}">Cancel</a></button>
</div>

{% endblock %}