{% extends "main.html" %}

{% block body %}
<body id="genre-li-body"></body>
{% endblock %}

{% block content %}

<div class="container" id="genre-container" data-books="{{ j_books }}">

	<div class="container" id="genre-li-container">
		<div class="row" id="genres-container">
			<h4>{{ genre.genre }}</h4>

			<div id="genres-inner">
				
				{% if books %}

				{% for book in books %}
				<div class="col-sm-6 genre-item" data-id="{{ book.id }}">
					<!--<a href="{{ url_for('showBook', book_id = book.id) }}">{{ book.title }}</a>-->
					<a href="#">{{ book.title }}</a>
				</div>
				{% endfor %}

				{% else %}
				<div class="col-sm-6 genre-item">No books for this genre yet. Log in to add some!</div>
				{% endif %}

			</div>

		
		<!-- else
		<div id="empty-msg">No books for this genre yet, log in to add some!</div>
			endif -->
		</div>
	</div>

	<div class="container" id="current-genre">
		<div class="row">
			<h3 id="current-title"></h3>
		</div>
		<div class="row" id="img-wrap">
			<img id="current-photo" alt="Image of Book" />
		</div>
		<div class="row">
			<p id="current-author"></p>
		<div class="row" id="summary-container">
			<p id="current-summary"></p>
		</div>
		{% if user %}
		<div class="row" id="edit-delete">
			<div><a href="" id="edit-book">Edit</a></div>
			<div><a href="" id="delete-book">Delete</a></div>
		</div>
		{% endif %}
	</div>
</div>

<div id="modal">
	<i class="fa fa-window-close" aria-hidden="true" id="modal-close"></i>
	<h3 id="modal-title"></h3>
	<div class="row flex" id="modal-info">
		<img id="modal-img">
		<div id="modal-summary"></div>
	</div>
	<div id="modal-author"></div>
	<div class="row" id="edit-dlt-mdl">
		<div><a href="" id="edit-mdl">Edit</a></div>
		<div><a href="" id="delete-mdl">Delete</a></div>
	</div>
</div>

{% endblock %}

</div>