{% extends "main.html" %}

{% block content %}


<section>
<div class="row" id="genre-li-container">
	<h4>{{ genre.genre }}</h4>
	<div class="row" id="genres-container">
		{% for book in books %}
		<div class="col-sm-6 genre-item">
			<a href="{{ url_for('showBook', book_id = book.id) }}">{{ book.title }}</a>
		</div>
		<!--PLACEHOLDERS-->
		<div class="col-sm-6 genre-item">
			<a href="#">The Big Bang</a>
		</div>
		<div class="col-sm-6 genre-item">
			<a href="#">The Big Bang</a>
		</div>
		<div class="col-sm-6 genre-item">
			<a href="#">The Big Bang</a>
		</div>
		<div class="col-sm-6 genre-item">
			<a href="#">The Big Bang</a>
		</div>
		<div class="col-sm-6 genre-item">
			<a href="#">The Big Bang</a>
		</div>
		<div class="col-sm-6 genre-item">
			<a href="#">The Big Bang</a>
		</div>
		<div class="col-sm-6 genre-item">
			<a href="#">The Big Bang</a>
		</div>
		{% endfor %}
	</div>
</div>
</section>

{% endblock %}